<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>

            <section class="section">
                <% if (tasks.length > 0) { %>
                    <div class="columns is-multiline ">
                        <% for (let task of tasks) { %>
                            <div class="column is-one-quarter">
                                <div class="card">
                                    <header class="card-header">
                                      <p class="card-header-title">
                                        <%= task.title %>
                                      </p>
                                      <a href="#" class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                      </a>
                                    </header>
                                    <div class="card-content">
                                      <div class="content">
                                        <p class="task__description">
                                            <%= task.description %>
                                        </p>
                                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                      </div>
                                    </div>
                                    <div class="container">
                                            <div class="field is-grouped is-grouped-centered">
                                                <p class="control">
                                                    <a href="/tasks/<%= task.id %>" class="button is-primary">Details</a>
                                                </p>
                    
                                                <p class="control">
                                                    <a href="/edit-task/<%= task.id %>?edit=true" class="button is-warning">Edit</a>
                                                </p>
                                      
                                                <p class="control">
                                                    <form action="/delete-task" method="POST">
                                                      <input type="hidden" value="<%= task.id %>" name="taskId">
                                                      <button class="button is-primary is-danger " type="submit">Delete</button>
                                                  </form> 
                                                </p>
                                              </div>
                                        </div>
                                  </div>
                            </div>
                            
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No tasks Found!</h1>
                        <% } %>
            </section>
            <%- include('includes/end.ejs') %>


